<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="princeTron.UserInterface"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:icon="@drawable/troncycle"
        android:label="@string/app_name"
        >
        <activity
            android:name=".PrinceTron"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Arena"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" >
        </activity>
        <activity android:name=".Stats" >
        </activity>
        <activity android:name=".Records" >
        </activity>
        <activity android:name=".Profile" >
        </activity>
        <activity android:name=".Lobby" >
        </activity>
        <activity android:name=".Leaderboard" >
        </activity>
    </application>

</manifest>